body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#avatar {
  margin: 40px auto;
}

#face {
  font-size: 80px;
}

#mouth {
  font-size: 60px;
  margin-top: 10px;
  transition: all 0.1s ease;
}
